{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="articles">
  <div class="page-width">
    <div id="page">
      <div id="item">
        <div id="error">
          <div>
            <h1>Oh dear.</h1>
            <p>There's a bit of a problem.</p>
            <p><strong>Error {{ page.header.http_response_code }}</strong></p>
            <p>{{ page.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
