@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-phukie');
	src:url('../fonts/icomoon.eot?#iefix-phukie') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-phukie') format('woff'),
		url('../fonts/icomoon.ttf?-phukie') format('truetype'),
		url('../fonts/icomoon.svg?-phukie#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 2.5em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-issue1:before {
	content: "\E60E";
}
.icon-issue2:before {
	content: "\e601";
}
.icon-issue3:before {
	content: "\e301";
}
.icon-issue4:before {
	content: "\e302";
}
.icon-issue5:before {
	content: "\e638";
}

.icon-image:before {
	content: "\e600";
}
.icon-library:before {
	content: "\e601";
}
.icon-coin:before {
	content: "\e602";
}
.icon-bell:before {
	content: "\e603";
}
.icon-bubbles:before {
	content: "\e60f";
}
.icon-bubbles2:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e607";
}
.icon-spinner:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e609";
}
.icon-stats:before {
	content: "\e60a";
}
.icon-trophy:before {
	content: "\e60b";
}
.icon-accessibility:before {
	content: "\e60c";
}
.icon-globe:before {
	content: "\e60d";
}
.icon-earth:before {
	content: "\e60e";
}
.icon-eye:before {
	content: "\e60f";
}
.icon-heart:before {
	content: "\e610";
}
.icon-googleplus:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e613";
}
.icon-vimeo2:before {
	content: "\e614";
}
.icon-flickr:before {
	content: "\e615";
}
.icon-linkedin:before {
	content: "\e616";
}
.icon-pencil:before {
	content: "\e617";
}
.icon-image2:before {
	content: "\e618";
}
.icon-cashbag:before {
	content: "\e619";
}
.icon-shield:before {
	content: "\e61a";
}
.icon-play:before {
	content: "\e61b";
}
.icon-arrow-right:before {
	content: "\e61c";
}
.icon-arrow-right2:before {
	content: "\e61d";
}
.icon-arrow-left:before {
	content: "\e61e";
}
.icon-googleplus2:before {
	content: "\e61f";
}
.icon-facebook2:before {
	content: "\e620";
}
.icon-twitter2:before {
	content: "\e621";
}
.icon-vimeo:before {
	content: "\e622";
}
.icon-libreoffice:before {
	content: "\e623";
}
.icon-mail:before {
	content: "\e639";
}
.icon-youtube:before {
	content: "\e63a";
}
.icon-scales:before {
	content: "\e638";
}
.icon-search:before {
	content: "\e63b";
}
.icon-tumblr:before {
	content: "\e63c";
}
.icon-lastfm:before {
	content: "\e63d";
}
.icon-menu:before {
	content: "\E63B";
}

.icon-bubbles3:before {
	content: "\e642";
}
.icon-user2:before {
	content: "\e641";
}
.icon-heart2:before {
	content: "\e63f";
}
.icon-play2:before {
	content: "\e639";
}
.icon-twitter22:before {
	content: "\e643";
}
.icon-accessibility2:before {
	content: "\e644";
}
.icon-user3:before {
	content: "\e645";
}
.icon-home:before {
	content: "\E408";
}
.icon-play3:before {
	content: "\e64e";
}
.icon-tag:before {
	content: "\e648";
}
.icon-phone:before {
	content: "\e647";
}
.icon-envelope:before {
	content: "\e64f";
}
.icon-location:before {
	content: "\e649";
}
.icon-map:before {
	content: "\e650";
}
.icon-clock:before {
	content: "\e64c";
}
.icon-bubble:before {
	content: "\e64a";
}
.icon-binoculars:before {
	content: "\e651";
}
.icon-pie:before {
	content: "\e64b";
}
.icon-cloud:before {
	content: "\e652";
}
.icon-star:before {
	content: "\e653";
}
.icon-play4:before {
	content: "\e654";
}
.icon-arrow-right3:before {
	content: "\e655";
}
.icon-mail2:before {
	content: "\e656";
}
.icon-twitter23:before {
	content: "\e64d";
}
.icon-arrow-left2:before {
	content: "\e624";
}
.icon-arrow-down:before {
	content: "\e625";
}
.icon-arrow-up:before {
	content: "\e626";
}
.icon-arrow-right32:before {
	content: "\e627";
}
.icon-arrow-left3:before {
	content: "\e628";
}
.icon-arrow-down2:before {
	content: "\e629";
}
.icon-arrow-up2:before {
	content: "\e62a";
}
.icon-arrow-right4:before {
	content: "\e62b";
}
.icon-arrow-left4:before {
	content: "\e62c";
}
.icon-arrow-down3:before {
	content: "\e62d";
}
.icon-arrow-up3:before {
	content: "\e62e";
}
.icon-arrow-right5:before {
	content: "\e62f";
}
.icon-arrow-left5:before {
	content: "\e630";
}
.icon-arrow-down4:before {
	content: "\e631";
}
.icon-arrow-up4:before {
	content: "\e632";
}
.icon-uniE633:before {
	content: "\e633";
}
.icon-arrow-left6:before {
	content: "\e634";
}
.icon-arrow-down5:before {
	content: "\e635";
}
.icon-arrow-up5:before {
	content: "\e636";
}
.icon-arrow-right6:before {
	content: "\e637";
}
.icon-notification:before {
	content: "\e658";
}
.icon-info:before {
	content: "\e659";
}
.icon-info2:before {
	content: "\e657";
}
.icon-cancel-circle:before {
	content: "\e65a";
}
.icon-checkmark-circle:before {
	content: "\e65b";
}




