////////////// HERO IMAGE

#hero {
  display: none;
}

.home #hero, .about #hero {
  display: block;
}

#herocontain {
  overflow: hidden;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom:0;
  top:0;
}

#hero {
  img {
    width: 280px;
    position: relative;
    bottom: -200px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0s;

    @media(max-width: 900px){
      width: 220px;
    }

    @media(max-width: 700px){
      width: 160px;
    }


    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
      0% { bottom: -500px; }
      50% { bottom: -500px; }
      100% { bottom: -200px; }
    }

    /* Standard syntax */
    @keyframes example {
      0% { bottom: -550px; }
      50% { bottom: -550px; }
      100% { bottom: -200px; }
    }
  }
}
