.pagination {
	list-style-type: none;
	margin: 1em 0 3em 0;
	font-size: 0.8em;
	padding: 0;
	
	@media (min-width: 60em) {
  	font-size: 0.9em;
	}
	
	li {
		display: inline-block;
		background: #fff;
		color: #222;
		padding: 0.5em 1em;
		margin: 1em 0 0.5em;
		color: $theme;
	}

	a {
		border: 0;
		display: block;
		padding: 0.5em 1em;
		margin: -0.5em -1em;
		background: #fff;
		font-weight: normal;
		text-decoration: none;
		&:hover {
			background: #555;
			color: white;
		}
	}
  
  .dots {
    color: #666;
  }
}