{% embed 'partials/base.html.twig' %}

	{% block content %}
		<div class="container">
		<div class="blog-content-item grid">
			<div id="item" class="block">
			    {% include 'partials/blog.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
		</div>
	{% endblock %}

{% endembed %}



