/* 
==========================================================================
Common mixins and classes
*/
/* ==========================================================================
   @font-face includes
   ========================================================================== */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf) format("truetype"); }
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMfEr6Hm6RMS0v1dtXsGir4g.ttf) format("truetype"); }
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf) format("truetype"); }
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwZ_TkvowlIOtbR7ePgFOpF4.ttf) format("truetype"); }
/* Set this if needed: it's output as an em/rem value */
/*

  #1: 'Automagic' Columns

  Define these vars for when it's 'normally' acceptable to break content into these column widths.
  When using grid-x-cols they will 'advance' as content will 'normally' fit into these columns, eg.

  grid-6-cols will:

  - break to halves at the 'half' breakpoint
  - break to thirds at the 'third' breakpoint
  - break to quarters at the 'quart' breakpoint
  - break to sixths at the 'sixth' breakpoint

*/
[class^="grid"] {
  clear: both;
  padding: 0;
  margin: 0 -0.5rem; }
  [class^="grid"]:after {
    content: '';
    display: table;
    clear: both; }
  [class^="grid"] > * {
    display: block;
    float: left;
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.5rem; }

@media (min-width: 40em) {
  .grid-spaced {
    margin: 0 -1rem; }
    .grid-spaced > * {
      padding: 0 1rem; } }

@media (min-width: 80em) {
  .grid-spaced-more {
    margin: 0 -2rem; }
    .grid-spaced-more > * {
      padding: 0 2rem; } }

@media (min-width: 1em) {
  .grid-compact {
    margin: 0 -0.25rem; }
    .grid-compact > * {
      padding: 0 0.25rem; } }

.grid-flush {
  margin: 0;
  margin: 0; }
  .grid-flush > * {
    padding: 0;
    padding: 0; }

[class^="col-"] {
  display: block;
  float: left;
  clear: none; }

[class^="grid"] [class^="col-"] {
  clear: none !important; }

@media (min-width: 40em) {
  .grid-2-cols > * {
    width: 50%; }
    .grid-2-cols > *:nth-child(n) {
      clear: none; }
    .grid-2-cols > *:nth-child(2n + 3) {
      clear: left; }

  .col-1\/2:nth-child(n) {
    width: 50%; } }
@media (min-width: 47.5em) {
  .grid-3-cols > * {
    width: 33.3323333333%; }
    .grid-3-cols > *:nth-child(n) {
      clear: none; }
    .grid-3-cols > *:nth-child(3n + 4) {
      clear: left; }

  .col-1\/3:nth-child(n) {
    width: 33.3323333333%; }

  .col-2\/3:nth-child(n) {
    width: 66.6656666667%; } }
@media (min-width: 40em) {
  .grid-4-cols > * {
    width: 50%; }
    .grid-4-cols > *:nth-child(n) {
      clear: none; }
    .grid-4-cols > *:nth-child(2n + 3) {
      clear: left; } }
@media (min-width: 55em) {
  .grid-4-cols > * {
    width: 25%; }
    .grid-4-cols > *:nth-child(n) {
      clear: none; }
    .grid-4-cols > *:nth-child(4n + 5) {
      clear: left; }

  .col-1\/4:nth-child(n) {
    width: 25%; }

  .col-3\/4:nth-child(n) {
    width: 75%; } }
@media (min-width: 40em) {
  .grid-5-cols > * {
    width: 50%; }
    .grid-5-cols > *:nth-child(n) {
      clear: none; }
    .grid-5-cols > *:nth-child(2n + 3) {
      clear: left; } }
@media (min-width: 47.5em) {
  .grid-5-cols > * {
    width: 33.3323333333%; }
    .grid-5-cols > *:nth-child(n) {
      clear: none; }
    .grid-5-cols > *:nth-child(3n + 4) {
      clear: left; } }
@media (min-width: 64em) {
  .grid-5-cols > * {
    width: 20%; }
    .grid-5-cols > *:nth-child(n) {
      clear: none; }
    .grid-5-cols > *:nth-child(5n + 6) {
      clear: left; }

  .col-1\/5:nth-child(n) {
    width: 20%; }

  .col-2\/5:nth-child(n) {
    width: 40%; }

  .col-3\/5:nth-child(n) {
    width: 60%; }

  .col-4\/5:nth-child(n) {
    width: 80%; } }
@media (min-width: 40em) {
  .grid-6-cols > * {
    width: 50%; }
    .grid-6-cols > *:nth-child(n) {
      clear: none; }
    .grid-6-cols > *:nth-child(2n + 3) {
      clear: left; } }
@media (min-width: 47.5em) {
  .grid-6-cols > * {
    width: 33.3323333333%; }
    .grid-6-cols > *:nth-child(n) {
      clear: none; }
    .grid-6-cols > *:nth-child(3n + 4) {
      clear: left; } }
@media (min-width: 55em) {
  .grid-6-cols > * {
    width: 25%; }
    .grid-6-cols > *:nth-child(n) {
      clear: none; }
    .grid-6-cols > *:nth-child(4n + 5) {
      clear: left; } }
@media (min-width: 80em) {
  .grid-6-cols > * {
    width: 16.6656666667%; }
    .grid-6-cols > *:nth-child(n) {
      clear: none; }
    .grid-6-cols > *:nth-child(6n + 7) {
      clear: left; }

  .col-1\/6:nth-child(n) {
    width: 16.6656666667%; } }
@media (min-width: 55em) {
  .grid-2-cols\@quarts > * {
    width: 50%; }
    .grid-2-cols\@quarts > *:nth-child(n) {
      clear: none; }
    .grid-2-cols\@quarts > *:nth-child(2n + 3) {
      clear: left; }

  .col-1\/2\@quarts:nth-child(n) {
    width: 50%; } }
@media (min-width: 55em) {
  .grid-3-cols\@quarts > * {
    width: 33.3323333333%; }
    .grid-3-cols\@quarts > *:nth-child(n) {
      clear: none; }
    .grid-3-cols\@quarts > *:nth-child(3n + 4) {
      clear: left; }

  .col-1\/3\@quarts:nth-child(n) {
    width: 33.3323333333%; } }
@media (min-width: 55em) {
  .grid-4-cols\@quarts > * {
    width: 25%; }
    .grid-4-cols\@quarts > *:nth-child(n) {
      clear: none; }
    .grid-4-cols\@quarts > *:nth-child(4n + 5) {
      clear: left; }

  .col-1\/4\@quarts:nth-child(n) {
    width: 25%; } }
@media (min-width: 55em) {
  .grid-6-cols\@quarts > * {
    width: 16.6656666667%; }
    .grid-6-cols\@quarts > *:nth-child(n) {
      clear: none; }
    .grid-6-cols\@quarts > *:nth-child(6n + 7) {
      clear: left; }

  .col-1\/6\@quarts:nth-child(n) {
    width: 16.6656666667%; } }
@media (min-width: 64em) {
  .grid-2-cols\@fifths > * {
    width: 50%; }
    .grid-2-cols\@fifths > *:nth-child(n) {
      clear: none; }
    .grid-2-cols\@fifths > *:nth-child(2n + 3) {
      clear: left; }

  .col-1\/2\@fifths:nth-child(n) {
    width: 50%; } }
@media (min-width: 64em) {
  .grid-3-cols\@fifths > * {
    width: 33.3323333333%; }
    .grid-3-cols\@fifths > *:nth-child(n) {
      clear: none; }
    .grid-3-cols\@fifths > *:nth-child(3n + 4) {
      clear: left; }

  .col-1\/3\@fifths:nth-child(n) {
    width: 33.3323333333%; } }
@media (min-width: 64em) {
  .grid-4-cols\@fifths > * {
    width: 25%; }
    .grid-4-cols\@fifths > *:nth-child(n) {
      clear: none; }
    .grid-4-cols\@fifths > *:nth-child(4n + 5) {
      clear: left; }

  .col-1\/4\@fifths:nth-child(n) {
    width: 25%; } }
@media (min-width: 64em) {
  .grid-6-cols\@fifths > * {
    width: 16.6656666667%; }
    .grid-6-cols\@fifths > *:nth-child(n) {
      clear: none; }
    .grid-6-cols\@fifths > *:nth-child(6n + 7) {
      clear: left; }

  .col-1\/6\@fifths:nth-child(n) {
    width: 16.6656666667%; } }
.col-reverse {
  float: right; }

.col-full {
  width: 100%;
  clear: both; }

.grid-flexbox {
  display: flex; }
  .grid-flexbox [class^="col-"] {
    margin: 0 -0.5rem; }
  .grid-flexbox > * {
    margin: 0 0.5rem; }
  @media (max-width: 80em) {
    .grid-flexbox {
      display: block; }
      .grid-flexbox > div {
        clear: left;
        display: block;
        margin: 1em 0 0 0 !important; }
      .grid-flexbox .article {
        min-height: auto !important;
        margin: 0 0.5rem; } }

/*# sourceMappingURL=grid.css.map */
