// Changing this will change the spacing of NEARLY EVERYTHING
$spacing-unit: 1rem;

$full-header: $third-breakpoint;
$fullnav-width: $third-breakpoint;
$fullnav-inline-width: $fullnav-width + 16.5em;

$dl-inline-breakpoint: 40em;
$img-feature-breakpoint: 40em;

$wrap-width: 106rem;  // total width before becoming fixed
$text-width: 70rem;


// ----

