
$grey-med:      #aaa;

$base:          $grey-med;
$base-alt:      $grey-med;

$primary:       $grey-med;
$secondary:     #ff4400;

$page-bg:       #222;
$text-color:    #fff;

$pagewidth:     75%;
$pagewidthMob:  95%;

$grey-verylight:  #ddd;