article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
	display:block;
}

html, body, figure, fieldset, menu, nav ul, nav ul li, footer li
{ margin: 0px; padding: 0px; }

nav ul, ul.social { padding: 0px }

menu ul li, nav ul li, .social li, .header-site ul, .header-site li { list-style-type: none; }


b {	font-weight: normal; }
i { font-style: normal; }
a { color: $base; cursor: pointer; text-decoration: underline; }
a:hover { text-decoration: underline; color: $base-alt; }
a img {	border: 0px; }
a[href^="mailto"], .url { word-break: break-word; }
iframe { display: block; max-width: 100%; margin: 1em auto; margin: 1rem auto; }
// p img {	display: inline; height: 1.25em; vertical-align: middle;}
fieldset { border: 0px; }
input, textarea, select { font-family: inherit; font-size: inherit; max-width: 100%; margin: 0; }
address { font-style: normal; font-size: 0.9em; }
address span { display: block; }
hr { clear: both; height: 0px; border: 0; border-top: 1px solid rgba(200,200,200,0.2); }
strong {font-weight: 700;}
sup, sub {line-height: normal}

::selection { background: transparentize(lighten($base-alt, 0.5), 0.75); }

html {
	position: relative;
	font-size: 82.5%;
	
	@media (max-width: 15em) {
		font-size: 40%;
	}
	
	@media (min-width: 15em) {
		font-size: 60%;
	}
	
	@media (min-width: 35em) {
		font-size: 65%;
	}
	
	@media (min-width: 75em) {
		font-size: 75%;
	}
	
	@media (min-width: 90em) {
		font-size: 80%;
	}
		
	@media (min-width: 100em) {
		font-size: 82.5%;
	}
	
	&.touch {
		-webkit-text-size-adjust: none;
	}
}