.header {
  background-size: cover;
  height: 25vh;
  min-height: 200px;
  margin: 0 0 0 0;
  padding: 0;
  position: relative;
}


.home .header, .page-id-108 .header {
  height: 50vh;
  min-height: 360px;
}


@media (max-width: 1024px) {
  .home .header, .about .header {
    background-size: 2500px;
  }
}

@media (max-height: 1024px) {
  .home .header, .about .header {
    height: 50vh;
  }
}

#topbar {
  z-index: 999;
  position: fixed;
  background: rgba(20, 0, 0, 0.5);
  color: white;
  float: left;
  width: 100%;
  padding: 0 0 0 0;
}

#topbar .container {
  margin: 0 auto 0 auto;
}

#topbar h1 {
  margin: 0;
  font-size: 2.8em;
}

#topbar h1 a {
  width: 150px;
  text-decoration: none;
  color: white;
  background: black;
  padding: 5px 20px 0 20px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.8em;
  float: left;
}

#topbar h1 a:hover {
  background: white;
  color: black;
}

@media (max-width: 900px) {
  #topbar h1 a {
    font-size: 0.7em;
    padding: 5px;
  }
}

#topbar h2 {
  color: white;
  font-weight: 600;
  font-size: 0.9em;
  margin: 0;
  padding: 22.5px 0 0 0;
  line-height: 1.6em;
}

#topbar h2 a {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  #topbar h2, .logo {
    display: none;
  }
}

#topbar h3 {
  color: white;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1em;
}

#topbar h3 a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 900px) {
  #topbar h3 {
    padding-top: 2em;
  }
}

.topbarRight {
  float: right;
  text-align: right;
  width: 50%;
}

.more-link {
  text-decoration: underline;
}

.logo {
  float: right;
  width: 2.8em;
  padding-top: 1.2em;
  margin-left: 0.8em;
}