
$grey-med:      #aaa;

$base:          $grey-med;
$base-alt:      $grey-med;

$primary:       #ff4400;
$primary:       #ffa700;
$secondary:     #ff4400;
$secondary:     #ffa700;

$page-bg:       #222;
$text-color:    #fff;

$pagewidth:     75%;
$pagewidthMob:  95%;

$grey-verylight:  #ddd;


$spacing-unit: 1rem;
$spacer-regular: 1rem;

$third-breakpoint:  100em;

$full-header: $third-breakpoint;
$fullnav-width: $third-breakpoint;
$fullnav-inline-width: $fullnav-width + 16.5em;

$dl-inline-breakpoint: 40em;
$img-feature-breakpoint: 40em;

$wrap-width: 106rem;  // total width before becoming fixed
$text-width: 70rem;


// ----

