/*  Interxion English Full Desktop Stylesheet
 *  Created by Dan Sheerman for Headscape
 *  dan@headscape.co.uk
 *
 *  This stylesheet served to viewports at the largest widths of the container
 *  should be used for complex layout styles.
*/


.wrap, #main {
	padding: 0 50px;
	}

#main {
	padding-top: 1em;
	padding-bottom: 0em;
	}
	