{% set image = page.media.files|first %}
<div class="mFullimageFixed" style="background-image: url('{{ image.url }}'); background-position: center center;">
  {% if page.header.position %}
  <div class="overlay {{ page.header.position }} {{ page.header.colour }}">
    {{ content }}
  </div>
  {% endif %}
</div>
