<div class="page-width">
  {%  if page.header.stickytitle %}
    <h1 class="sticky" style="margin-top: -0.65em;">{{ page.header.stickytitle }}</h1>
  {% endif %}
  <p class="narrow">{{ content }}</p>
</div>
