<section class="home-banner">
	
	<div class="constrain">
		
		<div class="introBlock">
	    <nav role="breadcrumbs" class="breadcrumbs">
				<ul>
			        <li><a href="{{ _site_url }}" style="color: white;">{{ _home_url_title }}</a>&nbsp;&raquo;</li>
			        {{ nav:breadcrumbs include_home="no" }}
			            {{ if is_current }}
			                <li>{{ title }}</li>
			            {{ else }}
			                <li><a href="{{ url }}" style="color: white;">{{ title }}</a>&nbsp;&raquo;</li>
			            {{ endif }}
			        {{ /nav:breadcrumbs }}
			    </ul>

		</nav>		
	
	  <header class="article__header">
	    {{ if alt_title }}
	    <h1 class="article__heading">{{ alt_title }}</h1>
	    {{ else }}
	    <h1 style="color: white; font-size: 3.5em;" class="article__heading">{{ title }}</h1>
	    {{ endif }}
	    
	    {{ if author || date || categories_list || tags_list }}
	    <div class="article__meta">
	
	      {{ if author|not_empty }}
	      {{ member:profile member="{author}" }}
	      <p class="article__author">Posted by: {{ first_name }} {{ last_name }}</p>
	      {{ /member:profile }}
	      {{ endif }}
	 

	      
	      {{ if categories_list && tags_list }}
	      <p class="article__tax" style="font-size:0.9em;"><b>Category:</b> {{ categories_url_list }} | {{ tags_url_list }}</p>
	      {{ endif }}
	
	      {{ if categories_list && !tags_list }}
	      <p class="article__tax"><b>Category:</b> {{ categories_url_list }}</p>
	      {{ endif }}
	
	      {{ if !categories_list && tags_list }}
	      <p class="article__tax" style="font-size:0.9em;" >{{ tags_url_list }}</p>
	      {{ endif }}
	      
	    {{ if author }}
	    	<strong>By {{ author }}</strong>
	    {{ endif }}<br/>
		<br/>
	
	    </div><!-- END .article__meta -->
	    {{ endif }}
	  </header>
	</div>
	</div>

</section> 

<div class="constrain">  
 
  {{ content }}

<section class="articles">

{{ entries:listing folder="stories" sort_by="title" }}


			<section style="margin-bottom: 10px;" class="modListNews {{ if template=='light' }}staticPanel-light{{ endif }} {{ if template=='dark' }}staticPanel-dark{{ endif}}">
							
					{{ if template }}
					<div class="onethird"><img src="{{ thumb }}"></div>
					{{ else }}
					  <a href="{{ url }}" class="onethird"><img src="{{ thumb }}"></a>
					{{ endif }}
					
					<div class="twothirds last">
						{{ if template }}
						<h4>{{ title }}</h4>
						{{ else }}
						<h4><a style="text-decoration: none;" href="{{ url }}">{{ title }}</a></h4>
						{{ endif }}
						
					    {{ if tags_list }}
					      <p class="article__tax-light" style="font-size:0.9em;">{{ tags_url_list }}</p>
					    {{ endif }}
					      
						{{ if template }}
							{{ content }}
						{{ else }}
							<p>{{ excerpt }}</p>
							<br/><br/><a href="{{ url }}">Read more</a> &raquo;
						{{ endif }}
					</div>				
			
			</section>


{{ /entries:listing }}

</section>

{{# Add simple pagination: limit must equal entries limit #}}

{{ entries:pagination
  folder="{fold}"
  limit="{lim}"
  taxonomy="{tax}"
}}
  {{ if total_pages > 1 }}
  <div class="pagination">
    {{ if previous_page }}
      <a href="{{ previous_page }}" class="pagination__prev">&larr; Prev</a>
    {{ endif }}

    <span class="pagination__number">Page {{ current_page }} of {{ total_pages }}</span>
    
    {{ if next_page }}
      <a href="{{ next_page }}" class="pagination__next">Next &rarr;</a>
    {{ endif }}
  </div><!-- END .pagination -->
  {{ endif }}
{{ /entries:pagination }}


</div>



