
$blue:          #2f4668;
$blue-dark:     #2f4668;
$grey:          #bbb;
$grey-med:      #111;
$grey-borders:  #dfe3ea;
$theme:         #2f4668;

// --

$base:          $grey-med;
$base-alt:      $grey-med;

$primary:       $grey-med;
$secondary:     $grey-med;

$page-bg:       #efefef;
$text-color:    #555555;

$pagewidth:     75%;
$pagewidthMob:  95%;

