
.wrap {
  @include wrap;
}

main {
	position: relative;
	z-index: 1;
	background: $page-bg;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  
  &:focus {
	  position: static;
	  clip: none;
  }
}

