/*#gallerywrapper {position:relative; display:none;}*/
#bigimagewrapper {
  position: relative;
}
#bigimagewrapper ul {
  list-style-type: none;
  padding-left: 0px;
}
.bigimages li {
  position: absolute;
  top: 0px;
  left: 0px;
}
#slider {
  position: absolute;
  right: 0;
  top: 0;
  height: 315px;
  padding: 26px 0;
  z-index: 2000;
}
#slider ul {
  list-style-type: none;
  padding-left: 0px;
}
#slider ul li {
  right: 5px;
}
#thumbs {
  position: absolute;
  right: 22px;
  height: 315px;
  width: 165px;
  overflow: hidden;
}
#captions {
  position: absolute;
  left: 20px;
  height: 20px;
  z-index: 3000;
}
#navprevious,
#navnext {
  opacity: 0.5;
  width: 37px;
  height: 19px;
  position: absolute;
  right: 75px;
}
#navprevious {
  top: 6px;
}
#navnext {
  bottom: 6px;
}
a {
  text-decoration: none;
}
a.thickbox {
  vertical-align: bottom;
}
.panelOverlay {
  display: block;
  background: url(/images/carousel-back.png) repeat-y;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0 !important;
  color: #fff;
  font-size: 12px;
  z-index: 1000;
  height: 369px;
  width: 920px;
}
.thumbOverlay {
  position: absolute;
  background: #fff;
  color: #fff;
  width: 100%;
  bottom: 3px;
}
.thumbOverlay p {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  margin: 0 5px 5px 5px;
  padding: 3px 3px 0 5px;
}
.thumb img {
  display: block;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.panelText {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 275px;
  height: 275px;
  z-index: 10000;
  font-family: "VAGRundschriftD", sans-serif;
}
.panelText a {
  color: #fff;
  text-decoration: underline;
}
.panelText h3 {
  font-size: 34px;
  line-height: 32px;
  color: #fff;
  margin: 0 0 15px 0;
}
.panelText p {
  font-size: 17px !important;
  color: #efefef !important;
  line-height: 23px !important;
}
.panelText .mpMore {
  display: block;
  margin: 15px 0 0 0;
}
.panelText a:hover.mpMore {
  color: #fff !important;
}
