/* 
=============================================================================

	ie9.css
	v1.0
	2011/06/24

	Headscape
	Written by Chris Sanderson (chris.sanderson@headscape.co.uk)

	This stylesheet is offered to IE9.

=============================================================================
*/

.siteSearch button {padding-top: 2px;}

#pageContent #modules .feature h2 { letter-spacing: 0em; }

p#vtip #vtipArrow { top: -21px; }