/* #Base 960 Grid 
================================================== */

	.wrapper { position: relative; width: 940px; margin: 0 auto; padding: 0; }
	.has_js #wrapper_menu.norm {display: none; }
	.has_js #ctaNav.norm {display: none; }
	
	
/* #Tablet (Portrait)
================================================== */	

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.menu li a { padding: 12px 8px 14px 8px !important; }
		.wrapper { width: 768px; }
		.wrapper .column, 
		.wrapper .columns	 { margin-left: 10px; margin-right: 10px;  }
		.menu  li  { padding-left: 0%;  padding-right: 0%;  font-size: 1.2em;}
	}
	
	
/*	#Mobile (Portrait)
================================================== */
	
	/* Note: Design for a width of 320px */
	
	@media only screen and (max-width: 767px) {
		.wrapper { width: 300px; }
		
	}
	
		
/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.wrapper { width: 420px; }
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) { 

	#mm1 { display: none; }
	#mm2 { display: none; }
	
	#mobileMenu_mm1  { width: 100%; padding: 2px; font-size: 1.5em; font-weight: bold; background: #F0EBE0;  border: 1px solid #e0daE0;     }
	#mobileMenu_mm2  { width: 100%; padding: 2px; font-size: 1.5em; font-weight: bold; background: #F0EBE0;  border: 1px solid #e0daE0;     }
	
	#pageContent #sNav h3 { display: none; }
	
	#pageContent #articleHeader .titleBox h2 a {  font-size: 1.8em; }
	
	.has_js #wrapper_menu.norm { display: block; } 
	.has_js #ctaNav.norm { display: block; float: left;  width: 100% !Important; }

	#wrapper_menu { display: none; }
		
	#pageContent #carousel .container ul  { display: none; }  
	.pageWidth, #pageHeader, #header .pageWidth { width:  98%;}
		
	#branding {  height: 80px; width: 98%; }
	#branding #sitename { background: url(../images/logonarrow.gif) no-repeat top left; width: 100%; margin-top: 10px; }

	#pageHeader .siteTools { width: 50%; float: left; margin-top:0em;}
	#pageHeader .siteTools ul li a {float: left; display: block; margin: 5px 10px 0 5px; padding: 0px; color: #78756B; text-transform: uppercase; font-size: 1.1em;}
	
	#pageHeader .siteSearch { width: 50%;float: right; text-align: right;  padding: 0; margin: 0 0 5px 0; }
	#pageHeader .siteSearch input { margin: 0; width: 40%;}
	
	.menu  li a { background: #F9F4E8; font-size: 0.9em; margin:0 0 0.5% 0;  width: 100%; display: inline-block; padding: 3px; border: 1px solid #fff; }
	
	
	#pageContent, #pageContent .landing { width: 97%; }
	#pageContent #modules #twoCol.feature  { width: 100%; }
	#pageContent #carousel { height: 250px; }
	#pageContent #carousel .container { width: 100%; height: 250px;}
	#pageContent #carousel .container #slides { width: 100%; margin-right: 2%; }
	#pageContent #carousel .container #slides  > div .caption h1 { font-size: 220%;  }
	#pageContent #carousel .container #slides  > div .caption p { font-size: 120%;  width: 90%; }
	#pageContent #carousel .container #slides  > div .caption.bottom { width: 100%; top: auto; bottom: -90px;   }
	#pageContent #carousel .container #slides  > div .caption.top {  width: 100%; top: auto; bottom: -90px;   }
	#pageContent #carousel .container #slides .image img { width: 100%;  height: auto; }
	#pageContent #carousel #pause { display: none; }

	#pageContent #articleHeader .titleBox { position: relative; display: block; padding: 5px 0 10px 0; bottom: 0;  width: 98%; }
	#pageContent #articleHeader .titleBox h3 { padding: 20px 0 0 15px; font-size: 20px; }
		
	#pageContent .article  { width: 97% }
	#pageContent .tabbed-box { display: none; width: 100%; }
	
	#pageContent table { width: 97%; }
	#pageContent #articleHeader .titleBox h2 { font-size: 2em; }
	#pageContent #articleHeader .titleBox h3 { font-size: 1.3em; }
	
	#ctaNav {  }
	#ctaNav ul li {  width: 48.63% !important;  margin: 4px 4px 0 0;  float: left; }
	#ctaNav ul li a {  clear: left; font-size: 120%; padding: 3px 3px 3px 15px; background: url(../images/bullet_white.gif) no-repeat 5px 6px;  }
	#ctaNav ul li.active a,
	#ctaNav ul li a:hover { background: url(../images/bullet_white_down.gif) no-repeat 4px 6px;}
	#ctaNav ul li .toolbox .container { width: 80%;  }
	
	#pageContent #modules .feature, #pageContent .landing #modules .feature {  width: 97%; } 
	#pageContent #modules .feature img, #pageContent .landing #modules .feature img { width: 100%;  }
	#pageContent #modules #chooseEssex.feature {  width: 97%; } 
	#pageContent #articleHeader .feature .strap { display: none; }
	
	#pageFooter { width: 98%; }
	#pageFooter .container .col {width: 94%; margin-bottom: 20px;  }
	#pageFooter .container { background: #F2ECDE; }
	
	#pageContent #sNav  { width: 98%; margin-bottom:0; }
	#pageContent #sNav li  { width: 98%; display: inline; float: left; }
	#pageContent #sNav li ul li { width: 100%;  }
	#pageContent #sNav h3 { width: 98%; }
	
	#pageContent #articleHeader { width: 98%; }
	#pageContent #articleHeader  .feature { width: 100%; border-left: none; }
	#pageContent #articleHeader  .feature iframe, #pageContent #articleHeader  .feature img { max-width: 100%;  }
	
	}
	
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {  
	
		
	.menu li {  width: 6%; font-size: 1.1em; }
	.menu li a { padding: 12px 8px 14px 8px !important; }
	
	#pageFooter .container .col {float: left; width: 47.5%; }
	
	#pageContent #articleHeader .titleBox h2 { font-size: 2.7em; }
	#pageContent #articleHeader .titleBox h3 { font-size: 1.3em; }
	
	#pageContent #carousel { height: 320px; }
	#pageContent #carousel .container { width: 100%; height: 320px;}
	
	#pageContent #carousel #pause { bottom: 100px; right: 10px; width: 40px; height: 40px;  }
		
	#pageContent #modules .feature, #pageContent .landing #modules .feature { width: 47.5%; } 
	
	#pageContent #modules #chooseEssex.feature {  width: 97%; } 
	#pageContent #modules #chooseEssex.feature ol li {  width: 47.5%; }
	#pageContent #modules #chooseEssex.feature ol li.two  { width: 49.5%; }
	
	#pageContent #sNav { width: 98%; }
	#pageContent #sNav li  { width: 98%; display: inline; float: left; }
	#pageContent #sNav li ul li { width: 100%;  }
	#pageContent #sNav h3 { width: 98%; }
	
	}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

