{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="page-width">
      <div id="page">
        <div id="item" class="block">
          {% include 'partials/blog.html.twig' with {'blog':page.parent, 'truncate':false} %}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
