.herocontain {
  height: 75vh;
  background: #000;

  margin-top: -3em;
  margin-bottom: 5em;

  h1 {
    text-align: center;
    padding: 8vh 0;
    color: white;
    font-size: 5em;
    font-weight: 900;
  }
}


