/* 
==========================================================================
Common mixins and classes
*/
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(5deg);
  transform-origin: 0 0;
}

.-berry {
  background: #b52b4a;
}

.-blue {
  background: #41ade5;
}

.-orange {
  background: #de6628;
}

.-green {
  background: #5e9b42;
}

/* ==========================================================================
   @font-face includes
   ========================================================================== */
@font-face {
  font-family: "SourceSans";
  src: url("../fonts/SourceSansVariable-Roman.ttf") format("truetype");
  font-weight: 1 999;
}
p {
  margin-top: 0 !important;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html, body, figure, fieldset, menu, nav ul, nav ul li, footer li {
  margin: 0px;
  padding: 0px;
}

nav ul, ul.social {
  padding: 0px;
}

menu ul li, nav ul li, .social li, .header-site ul, .header-site li {
  list-style-type: none;
}

b {
  font-weight: normal;
}

i {
  font-style: normal;
}

a {
  color: #aaa;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #aaa;
}

a img {
  border: 0px;
}

a[href^=mailto], .url {
  word-break: break-word;
}

iframe {
  display: block;
  max-width: 100%;
  margin: 1em auto;
  margin: 1rem auto;
}

fieldset {
  border: 0px;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
  margin: 0;
}

address {
  font-style: normal;
  font-size: 0.9em;
}

address span {
  display: block;
}

hr {
  clear: both;
  height: 0px;
  border: 0;
  border-top: 1px solid rgba(200, 200, 200, 0.2);
}

strong {
  font-weight: 700;
}

sup, sub {
  line-height: normal;
}

::selection {
  background: rgba(171, 171, 171, 0.25);
}

html {
  position: relative;
  font-size: 82.5%;
}
@media (max-width: 15em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 15em) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 35em) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 90em) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 100em) {
  html {
    font-size: 82.5%;
  }
}
html.touch {
  -webkit-text-size-adjust: none;
}

/*
  Base styles for:browsers that can't understand media queries -and/or aren't [gt IE 8]
*/
body {
  background: #fff;
  max-width: 50em;
  margin: 1em auto;
}

form {
  margin: 1em 0;
}
form small {
  display: block;
}

label {
  margin-top: 1em;
}

input,
textarea,
select {
  vertical-align: middle;
  white-space: normal;
  line-height: normal !important;
  box-sizing: border-box;
  border-radius: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
textarea {
  display: block;
  padding: 0.35em;
  border: 1px solid #ccc;
  border-radius: 2px;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
textarea {
    font-size: 16px !important;
    -webkit-text-size-adjust: 100% !important;
  }
}

input:-webkit-autofill {
  background-color: none !important;
  -webkit-box-shadow: 0 0 0px 500px rgba(170, 170, 170, 0.05) inset, 0 0 0px 500px white inset;
}

textarea {
  width: 100%;
  max-width: 25em;
  height: 6em;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
}

*[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
}

form label,
form .label {
  display: block;
  font-weight: bold;
  clear: both;
  margin-top: 1em;
}

input[type=radio] {
  display: inline-block;
}
input[type=radio] + label {
  margin: 0 2em 0 0;
  display: inline-block;
}

select {
  height: 2.35em;
  width: 17.5em;
  max-width: 90%;
  background: #fefefe;
  border-color: rgba(0, 0, 0, 0.25);
}
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-size: 16px !important;
    -webkit-text-size-adjust: 100% !important;
  }
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  display: inline-block;
  z-index: 2;
  margin-left: 0.625em;
  margin-top: 1.25em;
  cursor: pointer;
  vertical-align: top;
}
input[type=checkbox] + label,
input[type=radio] + label {
  cursor: pointer;
  position: relative;
  margin: 0.5em 1em 0.25em -2em;
  display: inline-block;
  vertical-align: middle;
  background: #f4f4f4;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0.5em 1em 0.5em 2.25em;
  border-radius: 2px;
  z-index: 1;
  max-width: 90%;
  box-sizing: border-box;
}
input[type=checkbox] + label .sub,
input[type=radio] + label .sub {
  margin: 0.25em 0;
  font-weight: normal;
}
input[type=checkbox]:hover + label,
input[type=checkbox] + label:hover, input[type=checkbox]:focus + label,
input[type=checkbox] + label:focus,
input[type=radio]:hover + label,
input[type=radio] + label:hover,
input[type=radio]:focus + label,
input[type=radio] + label:focus {
  cursor: pointer;
  background: #ddd;
}
input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background: #ddd;
  font-weight: bold;
}
label input[type=checkbox],
label input[type=radio] {
  margin: 0.5em 0.5em 0.5em 0;
}

body {
  font-weight: 900;
  font-family: "SourceSans", sans-serif;
  font-size: 1.4em;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(170, 170, 170, 0.25);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "SourceSans", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin: 1em 0 1em;
  margin: 1rem 0 1rem;
  color: #ccc;
  transition: font-size 250ms linear, opacity 250ms linear;
}
h1 a, a h1, .h1 a, a .h1, h2 a, a h2, .h2 a, a .h2, h3 a, a h3, .h3 a, a .h3, h4 a, a h4, .h4 a, a .h4, h5 a, a h5, .h5 a, a .h5, h6 a, a h6, .h6 a, a .h6 {
  color: #aaa;
  text-decoration: none;
}
h1 a:hover, a:hover h1, .h1 a:hover, a:hover .h1, h2 a:hover, a:hover h2, .h2 a:hover, a:hover .h2, h3 a:hover, a:hover h3, .h3 a:hover, a:hover .h3, h4 a:hover, a:hover h4, .h4 a:hover, a:hover .h4, h5 a:hover, a:hover h5, .h5 a:hover, a:hover .h5, h6 a:hover, a:hover h6, .h6 a:hover, a:hover .h6 {
  color: #aaa;
}

h5, .h5, h6, .h6 {
  color: #555;
}

h1, .h1 {
  font-size: 1.5em;
  margin-top: 0rem;
  color: #aaa;
  font-weight: bold;
}
@media (min-width: 35em) {
  h1, .h1 {
    font-size: 1.6em;
  }
}
@media (min-width: 45em) {
  h1, .h1 {
    font-size: 1.8em;
  }
}
@media (min-width: 85em) {
  h1, .h1 {
    font-size: 2em;
  }
}
h1 + h2,
h1 + .h2,
h1 + h3,
h1 + .h3,
h1 + h4,
h1 + .h4,
h1 + h5,
h1 + .h5,
h1 + h6,
h1 + .h6, .h1 + h2,
.h1 + .h2,
.h1 + h3,
.h1 + .h3,
.h1 + h4,
.h1 + .h4,
.h1 + h5,
.h1 + .h5,
.h1 + h6,
.h1 + .h6 {
  margin-top: -0.5em;
  margin-top: -1.5rem;
}

h2, .h2 {
  font-weight: 350;
  line-height: 1.2em;
  color: black;
}
@media (min-width: 45em) {
  h2, .h2 {
    font-size: 1.7em;
  }
}
@media (min-width: 85em) {
  h2, .h2 {
    font-size: 2em;
  }
}
h2 + h3,
h2 + .h3,
h2 + h4,
h2 + .h4,
h2 + h5,
h2 + .h5,
h2 + h6,
h2 + .h6, .h2 + h3,
.h2 + .h3,
.h2 + h4,
.h2 + .h4,
.h2 + h5,
.h2 + .h5,
.h2 + h6,
.h2 + .h6 {
  margin-top: -0.5em;
  margin-top: -1.5rem;
}

h3, .h3 {
  font-size: 1.5em;
}
@media (max-width: 45em) {
  h3, .h3 {
    font-size: 1.1em;
  }
}
@media (max-width: 85em) {
  h3, .h3 {
    font-size: 1.3em;
  }
}
h3 + h4,
h3 + .h4,
h3 + h5,
h3 + .h5,
h3 + h6,
h3 + .h6, .h3 + h4,
.h3 + .h4,
.h3 + h5,
.h3 + .h5,
.h3 + h6,
.h3 + .h6 {
  margin-top: -0.5em;
  margin-top: -1.5rem;
}

h4, .h4 {
  font-size: 1.2em;
  color: #000;
}
h4 + h5,
h4 + .h5,
h4 + h6,
h4 + .h6, .h4 + h5,
.h4 + .h5,
.h4 + h6,
.h4 + .h6 {
  margin-top: -0.5em;
  margin-top: -1.5rem;
}

h5, .h5 {
  font-size: 1em;
  color: #000;
}
h5 + h6,
h5 + .h6, .h5 + h6,
.h5 + .h6 {
  margin-top: -0.5em;
  margin-top: -1.5rem;
}

h6, .h6 {
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.25;
  color: #000;
}

@media (max-width: 15em) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: 1.1em !important;
  }
}
@media (max-height: 12.5em) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: 1.1em !important;
  }
}
acronym, abbr {
  border-bottom: 1px dotted #333;
}

ul ul, ul ol, ol ul, ol ol {
  margin-top: 1em;
  margin-bottom: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style-type: none;
}
ul li {
  position: relative;
  color: #00A59B;
  margin: 0 0 0 -0.9em;
}
ul li:before {
  position: absolute;
  border-bottom: 1px solid #aaa;
  content: "";
  display: block;
  top: 0.7em;
  left: -1.3em;
  width: 0.8em;
}

ol {
  margin: 2rem 0;
  padding-left: 1.5em;
  list-style-type: none;
  counter-reset: ol;
}
ol > li:before {
  content: counter(ol);
  counter-increment: ol;
  color: #000;
  margin-left: -1.25em;
  margin-right: 0.5em;
  float: left;
  clear: left;
}

dl {
  margin: 1em 0;
  margin: 2rem 0;
}
dl:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  margin: 2rem auto;
}
@media (min-height: 45em) {
  hr {
    margin: 2rem auto;
  }
}
hr.compact {
  margin: 2rem auto;
}

blockquote {
  position: relative;
  padding: 2em;
  margin: 1em 0;
  font-size: 1.6em !important;
  line-height: 1.4em;
  background: rgba(0, 0, 0, 0.75);
  color: #ccc;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
@media (min-width: 45em) {
  blockquote {
    font-size: 1.3em;
  }
}
blockquote.long, blockquote.small {
  font-size: 1.1em;
}
@media (min-width: 45em) {
  blockquote.long, blockquote.small {
    font-size: 1em;
  }
}
blockquote.plain {
  padding: 0;
  border: 0;
}
blockquote p {
  margin: 0 0 0.5em 0;
}
blockquote p:only-child {
  margin-bottom: 0;
}
blockquote cite,
blockquote .cite {
  color: #aaa;
  display: block;
  margin: 0.5em 0 1em 0;
  font-size: 0.5em;
}

time {
  font-size: 0.9em;
  color: #ff4400;
}

.listing blockquote, .home blockquote {
  padding: 1em;
  margin: 1em 0;
  font-size: 1.3em !important;
  line-height: 1.3em;
  background: #000;
  color: #aaa;
}

.tweetable {
  background: #aaa;
  font-size: 1.35em;
  color: #fff;
  border: 0;
}
.tweetable cite {
  color: #fff;
}

pre {
  clear: both;
  font-size: 0.8em;
  margin: 0.5em 0 2em;
  margin: 0.5rem 0 4rem;
  padding: 1em;
  -moz-tab-size: 2;
       tab-size: 2;
  background: rgba(157, 157, 157, 0.75);
  color: #fff;
  max-width: 100%;
  overflow: auto;
}

.caps {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.home-links {
  text-decoration: none;
  font-size: 0.8em;
  color: white;
}

.home-subtitle {
  color: #ddd;
}

.debug * {
  box-shadow: 0 0 0.5em rgba(255, 0, 0, 0.75), inset 0 0 0.5em rgba(0, 255, 0, 0.75) !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.relative-wrapper {
  position: relative;
}

.font-primary {
  font-weight: 900;
  font-family: "SourceSans", sans-serif;
}

.font-secondary {
  font-family: "SourceSans", sans-serif;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.color-base {
  color: #aaa !important;
}

.color-black {
  color: #000 !important;
}

.margin-top-none {
  margin-top: 0 !important;
}

.module-spaced {
  margin: 2rem 0 !important;
}

.mobile-hide {
  display: none !important;
}
@media (min-width: 35em) and (min-height: 35em) {
  .mobile-hide {
    display: block !important;
  }
}

@media (min-width: 35em) and (min-height: 35em) {
  .mobile-only-display {
    display: none !important;
  }
}
/*# sourceMappingURL=basic.css.map */