/* 
==========================================================================
Common mixins and classes
*/
.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(5deg);
  transform-origin: 0 0;
}

.-berry {
  background: #b52b4a;
}

.-blue {
  background: #41ade5;
}

.-orange {
  background: #de6628;
}

.-green {
  background: #5e9b42;
}

/* ==========================================================================
   @font-face includes
   ========================================================================== */
@font-face {
  font-family: "SourceSans";
  src: url("../fonts/SourceSansVariable-Roman.ttf") format("truetype");
  font-weight: 1 999;
}
p {
  margin-top: 0 !important;
}

/*
  This is used to undo some of the base styles we set (in ../_core/_set-basic.scss) for: 
  - browsers that can't understand media queries
  - and/or aren't [gt IE 8]
*/
body {
  z-index: 1;
  margin: 0 auto;
  max-width: none;
}
@media screen {
  body {
    background: #222;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.grid.articleList {
  grid-template-columns: repeat(2, 1fr [col-start]);
}

.grid.designList {
  grid-template-columns: 1fr;
  margin-top: 0em;
}

.grid-spaced {
  grid-column-gap: 1em;
}

.grid-spaced-more {
  grid-column-gap: 2em;
}

.grid-flush {
  gap: 0;
}

.grid-flexbox {
  display: flex;
}

.form input[type=text],
.form input[type=number],
.form input[type=email],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form textarea,
.form select {
  width: 100%;
  max-width: 25em;
  padding: 0.5em;
  margin: 0.25em 0 1em;
  border: 1px solid #ccc;
  color: #222;
}
.form input[type=text]:focus,
.form input[type=number]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus,
.form input[type=search]:focus,
.form input[type=tel]:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
  border: 1px solid #aaa;
}
.form select {
  border-color: rgba(0, 0, 0, 0.05);
  height: 3em;
}

.form-item {
  margin: 1rem 0;
}

.form-fields-inline select,
.form-fields-inline input,
.form-fields-inline button {
  display: inline-block;
  vertical-align: middle;
  margin: 0.25em 0.25em 0.25em 0;
  width: auto;
}
.form-fields-inline input[type=submit],
.form-fields-inline button {
  padding: 0.65em 1.2em;
}

.article_heading {
  margin: 0em 0.5em 0 0;
}

.article_date {
  margin: 0 0 0.5em 0;
}

.article_main p:first-of-type {
  font-size: 1.3em;
}

.article_main {
  max-width: 900px;
  margin: auto;
}

.article_main img {
  width: 100%;
}

@media (min-width: 1500px) {
  .img-full {
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-bottom: 1em;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
.img-pagewidth {
  width: 166.666% !important;
  margin-left: -33.333%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.img-half-left {
  display: block;
  height: auto;
  width: 49% !important;
  float: left;
  margin-right: 1%;
}

.img-half-right {
  display: block;
  height: auto;
  width: 49% !important;
  float: right;
  margin-left: 1%;
}

.img-margin-top {
  padding-top: 1em !important;
}

.img-stretch {
  width: 100%;
}

.max-width {
  width: 70%;
}

.design #page article img {
  box-shadow: 0 0 2.5vw rgba(0, 0, 0, 0.15);
  margin-top: 5em;
  margin-bottom: 0em;
}

.design #page article img.no-effect {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media (max-width: 800px) {
  .img-screenshot {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
}

h4 {
  text-align: center;
  margin: 0em;
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.8em;
}

.metablock {
  float: left;
  text-align: left;
}
@media (max-width: 1500px) {
  .metablock {
    margin: 0 2em 0em auto;
  }
}

p.caption {
  clear: left;
  display: block;
  padding-top: 1em;
  text-align: center;
  margin-bottom: 2em;
}

.reading-time {
  font-size: 80%;
  color: white;
}

.prev-next {
  margin: 4em 0 0 0;
}

body.cv #header {
  height: 15vh;
}
body.cv time, body.cv .article-meta, body.cv p.reading-time, body.cv .reading-time, body.cv nav, body.cv .prev-next, body.cv footer {
  display: none;
}
body.cv h1.article_heading, body.cv #page h1 {
  font-size: 1.8em;
}
body.cv h2 {
  font-size: 2.5em;
  font-weight: 100;
  margin-top: 1em;
}
body.cv h3 {
  margin: 1em 0 0 0;
}
body.cv ul {
  margin-top: 0.5em;
}

.herocontain {
  height: 75vh;
  background: #000;
  margin-top: -3em;
  margin-bottom: 5em;
}
.herocontain h1 {
  text-align: center;
  padding: 8vh 0;
  color: white;
  font-size: 5em;
  font-weight: 900;
}

body {
  background: #000000 fixed no-repeat;
  background-size: cover;
  box-shadow: inset 0 10em 10em rgba(0, 0, 0, 0.7);
}

.page-content {
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 500px);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#000000",GradientType=0 );
  /* ie6-9 */
  padding-top: 0em;
}

.home .page-content, .listing .page-content {
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 500px);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#000000",GradientType=0 );
  /* ie6-9 */
  padding-top: 0em;
}

.page-width {
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .page-width {
    padding-left: 2em;
    padding-right: 2em;
  }
}

#page-wrapper {
  margin-top: 0.2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.list-panel {
  background: rgba(30, 30, 30, 0.95);
  padding: 4em;
  border-bottom: 4px solid #000;
}

.list-panel-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
}

.design-panel-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
}

.design-panel-image {
  background: rgba(250, 250, 250, 0.04);
  padding: 1.5em;
  opacity: 0.8;
}
.design-panel-image img {
  width: 100%;
  border: 1px solid #000;
}
.design-panel-image:hover {
  opacity: 1;
}

header nav {
  font-weight: 400;
  height: 120px;
}
header nav a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
}
header nav a:hover {
  color: #999;
}
header nav a:last-child {
  padding-right: 0;
}

body.design nav a.navDesign,
body.about nav a.navAbout,
body.articles nav a.navArticles,
body.blog nav a.navBlog,
body.music nav a.navMusic {
  color: #ff4400;
}

.mFullimage {
  position: relative;
}
.mFullimage img {
  padding: 0;
  margin: 0;
  width: 100%;
}
.mFullimage .overlay {
  position: absolute;
  top: 2em;
  color: white;
  padding: 2em;
  width: 25vw;
  border-radius: 2px;
  background: rgba(200, 200, 200, 0.95);
}
.mFullimage .overlay.right {
  right: 12.5%;
  left: auto;
}
.mFullimage .overlay.left {
  right: auto;
  left: 12.5%;
}
.mFullimage .overlay.red {
  background: red;
}
.mFullimage .overlay.white {
  background: rgba(255, 255, 255, 0.9);
  color: #222;
}
.mFullimage .overlay.black {
  background: rgba(0, 0, 0, 0.9);
}

.mFullStickyimage .imgScaler {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}
.mFullStickyimage .overlay {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -o-sticky;
  position: sticky;
  top: 2em;
  color: white;
  padding: 2em;
  width: 33%;
  border-radius: 2px;
  background: rgba(200, 200, 200, 0.95);
}
.mFullStickyimage .overlay.left {
  left: 0;
}
.mFullStickyimage .overlay.right {
  left: 66%;
}
.mFullStickyimage .overlay.red {
  background: red;
}
.mFullStickyimage .overlay.white {
  background: rgba(255, 255, 255, 0.9);
  color: #222;
}
.mFullStickyimage .overlay.black {
  background: rgba(0, 0, 0, 0.9);
}
.mFullStickyimage .overlay.lightblue {
  background: #069CC7;
  opacity: 0.9;
}
.mFullStickyimage .overlay.darkblue {
  background: #00589C;
  opacity: 0.9;
}

.mFullimageFixed {
  position: relative;
  height: 100vh;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1100px) {
  .mFullimageFixed {
    background-attachment: scroll !important;
  }
}
.mFullimageFixed img {
  padding: 0;
  margin: 0;
  width: 100%;
}
.mFullimageFixed .overlay {
  position: absolute;
  top: 2em;
  color: white;
  padding: 2em;
  width: 25vw;
  border-radius: 2px;
  background: rgba(200, 200, 200, 0.95);
}
.mFullimageFixed .overlay.right {
  right: 12.5%;
  left: auto;
}
.mFullimageFixed .overlay.left {
  right: auto;
  left: 12.5%;
}
.mFullimageFixed .overlay.red {
  background: red;
}
.mFullimageFixed .overlay.white {
  background: rgba(255, 255, 255, 0.9);
  color: #222;
}
.mFullimageFixed .overlay.black {
  background: rgba(0, 0, 0, 0.9);
}
.mFullimageFixed .overlay.lightblue {
  background: #069CC7;
  opacity: 0.9;
}
.mFullimageFixed .overlay.darkblue {
  background: #00589C;
  opacity: 0.9;
}

.superwide .panel {
  padding: 2em 0;
}

.superwide .panelflush {
  padding: 0;
}

.panel.grey-light {
  background: #efefef;
}
.panel.grey-light p.caption {
  background: white;
  padding: 0.5em 0;
  margin-bottom: 2em;
}

.panelflush.grey-light p.caption {
  background: #efefef;
  padding: 0.5em 0;
  margin-bottom: 2em;
}

.hideheader header, .hideheader footer, .hideheader article time, .hideheader time, .hideheader date {
  display: none !important;
}

.modular-anchors {
  padding: 3px;
  color: white;
  text-align: center;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.modular-anchors:hover {
  background: #888;
  color: white;
}

.stickyBigTitle {
  padding: 0.5em 1em;
  background: #da0700;
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 99;
}

.stickyBigTitle.blue {
  background: #00589C;
  opacity: 0.9;
}

.pagination {
  list-style-type: none;
  margin: 1em 0 0 0;
  font-size: 0.8em;
  padding: 0;
}
@media (min-width: 60em) {
  .pagination {
    font-size: 0.9em;
  }
}
.pagination li {
  display: inline-block;
  background: #444;
  color: #ddd;
  padding: 0.5em 1em;
  margin: 1em 0 0.5em;
  color: white;
}
.pagination li:before {
  border: none;
}
.pagination a {
  border: 0;
  display: block;
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  background: #333;
  font-weight: normal;
  color: #aaa;
  text-decoration: none;
}
.pagination a:hover {
  background: #555;
  color: white;
}
.pagination .dots {
  color: #666;
}

header {
  min-height: 100vh;
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 0;
  color: white;
  margin-left: -4px;
}
.banner-text h1 {
  font-size: 5em;
  color: white;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}
.banner-text p {
  margin: 0.5em 0 4em 0;
  padding: 0;
}

body.home .banner-text p {
  margin-bottom: 12em;
}

body.blog header, body.design header, body.music header, body.articles header, body.about header {
  min-height: 70vh;
}

body.blog.superwide header {
  min-height: 100vh;
}

body.blog.superwide img.img-pagewidth {
  max-width: none !important;
}
@media (max-width: 1500px) {
  body.blog.superwide img.img-pagewidth {
    width: 100% !important;
    margin: auto;
  }
}

.logo {
  display: block;
  padding-top: 1.5em;
  padding-left: 0;
  width: 65px;
  float: left;
}

nav.main {
  padding: 2em 0;
  float: right;
}

/* Colors */
/* Config */
/* Pretty Lights */
.light {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.light:nth-child(1) {
  width: 193px;
  height: 193px;
  top: 48vh;
  left: 35vw;
  background: #ffffff;
  filter: blur(9px);
  animation: 3s light4 linear infinite;
}

.light:nth-child(2) {
  width: 184px;
  height: 184px;
  top: 40vh;
  left: 23vw;
  background: #ffffff;
  filter: blur(10px);
  animation: 20s light5 linear infinite;
}

.light:nth-child(3) {
  width: 181px;
  height: 181px;
  top: 2vh;
  left: 48vw;
  background: #ffffff;
  filter: blur(7px);
  animation: 17s light6 linear infinite;
}

.light:nth-child(4) {
  width: 150px;
  height: 150px;
  top: 26vh;
  left: 27vw;
  background: #ffffff;
  filter: blur(10px);
  animation: 6s light5 linear infinite;
}

.light:nth-child(5) {
  width: 136px;
  height: 136px;
  top: 42vh;
  left: 8vw;
  background: #ffffff;
  filter: blur(6px);
  animation: 11s light4 linear infinite;
}

.light:nth-child(6) {
  width: 188px;
  height: 188px;
  top: 36vh;
  left: 23vw;
  background: #ffffff;
  filter: blur(8px);
  animation: 21s light7 linear infinite;
}

.light:nth-child(7) {
  width: 165px;
  height: 165px;
  top: 6vh;
  left: 41vw;
  background: #ffffff;
  filter: blur(6px);
  animation: 1s light5 linear infinite;
}

.light:nth-child(8) {
  width: 134px;
  height: 134px;
  top: 26vh;
  left: 41vw;
  background: #ffffff;
  filter: blur(6px);
  animation: 5s light5 linear infinite;
}

.light:nth-child(9) {
  width: 186px;
  height: 186px;
  top: 8vh;
  left: 10vw;
  background: #ffffff;
  filter: blur(6px);
  animation: 4s light5 linear infinite;
}

.light:nth-child(10) {
  width: 193px;
  height: 193px;
  top: 8vh;
  left: 49vw;
  background: #ffffff;
  filter: blur(9px);
  animation: 15s light8 linear infinite;
}

.light:nth-child(11) {
  width: 185px;
  height: 185px;
  top: 26vh;
  left: 48vw;
  background: #ffffff;
  filter: blur(8px);
  animation: 11s light9 linear infinite;
}

.light:nth-child(12) {
  width: 144px;
  height: 144px;
  top: 56vh;
  left: 5vw;
  background: #ffffff;
  filter: blur(8px);
  animation: 3s light7 linear infinite;
}

@keyframes light1 {
  25% {
    opacity: 0.09;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.07;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light2 {
  25% {
    opacity: 0.08;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light3 {
  25% {
    opacity: 0.09;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light4 {
  25% {
    opacity: 0.05;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light5 {
  25% {
    opacity: 0.01;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.07;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light6 {
  25% {
    opacity: 0.04;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.02;
  }
  100% {
    opacity: 0;
  }
}
#bokeh.fadeout {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#bokeh.fadein {
  -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -ms-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
  opacity: 1;
}

footer {
  clear: both;
  background: #ffffff url(../img/footer.jpg) bottom right no-repeat fixed;
  background-size: cover;
  color: #aaa;
  padding: 70vh 0 20vh;
  border-top: 10em solid black;
}
footer a {
  color: #aaa;
  text-decoration: none;
}
footer p {
  font-size: 1em;
}

.copyright {
  background: #111;
  font-size: 0.7em;
  margin: 0;
  padding: 0.6em 0;
  color: #999;
}
.copyright a {
  color: #888;
}

.search-input {
  background: black;
  border: 1px solid #222222 !important;
}

.tags a {
  padding: 0em 0.3em 0.1em 0.3em;
  background: #aaa;
  color: #222;
  text-decoration: none;
  font-size: 0.7em;
}
.tags a:hover {
  background: #888;
  color: #111;
}
/*# sourceMappingURL=deluxe.css.map */