<div class="home-banner">
	
	<div class="constrain">
		
			<div class="introBlock">
			    <nav role="breadcrumbs" class="breadcrumbs">
					<ul>
				        <li><a href="{{ _site_url }}" style="color: white;">{{ _home_url_title }}</a>&nbsp;&raquo;</li>
				        {{ nav:breadcrumbs include_home="no" }}
				            {{ if is_current }}
				                <li>{{ title }}</li>
				            {{ else }}
				                <li><a href="{{ url }}" style="color: white;">{{ title }}</a>&nbsp;&raquo;</li>
				            {{ endif }}
				        {{ /nav:breadcrumbs }}
				    </ul>

				</nav>		
			
			    <header class="article__header">
			    {{ if alt_title }}
			    <h1 class="article__heading">{{ alt_title }}</h1>
			    {{ else }}
			    <h1 class="article__heading">{{ title }}</h1>
			    {{ endif }}
			
						{{ if tags_list }}
					      <span style="font-size: 0.8em;">DISEASES:</span> <span class="article__tax" style="font-size:0.9em;">{{ tags_url_list }}</span>&nbsp;&nbsp;
					    {{ endif }}
					    {{ if categories_list }}
					      <span style="font-size: 0.8em;">THEMES:</span> <span class="article__tax" style="font-size:0.9em;">{{ categories_url_list }}</span>
					    {{ endif }}
					    <br/><br/>

			      	
			    </div><!-- END .article__meta -->
			   
			  </header>
			</div>
	</div>
	  
</div>   

<div class="constrain">
	<article class="article article-full">
	 
	 <!--
	  <div class="article__lead">
	  {{ summary|smartypants|markdown }}
	  </div><!-- END .lead -->
<!--
	
	 {{ if recommend }}
	  <div class="article__recommend">
	 
	  <h3>Our Recommendation</h3>
	  
	  <p>{{ recommend }}. <a href="#">details</a></p>
	  
	  </div>
	 {{ endif }}
	 -->
	
	  <div class="article__main">
	
	 {{ if thumb }}  
	 <div style="width: 50%; float:right; padding-left: 20px; padding-bottom: 20px;">
		 
		 
		 <img src="{{ _site_url }}{{ thumb }}">
		 <caption><small>This is an image caption</small></caption>
		 
	 </div>
	  {{ endif }}
	 
	
	  {{ content }}
	  

	  </div><!-- END .main-content -->
	  
	 
	 	<div style="clear: left; margin-bottom: 20px;"></div>
					
			<h3>How {{ title }} affects the nation</h3>	
			
			{{ entries:listing folder="stories" limit="2" sort_dir="asc" }}
					
			<section style="margin-bottom: 10px;" class="modListNews {{ if template=='light' }}staticPanel-light{{ endif }} {{ if template=='dark' }}staticPanel-dark{{ endif}}">
							
					{{ if template }}
					<div class="onethird"><img src="{{ _site_url }}{{ thumb }}"></div>
					{{ else }}
					  <a href="{{ url }}" class="onethird"><img src="{{ _site_url }}{{ thumb }}"></a>
					{{ endif }}
					
					<div class="twothirds last">
						{{ if template }}
						<h4>{{ title }}</h4>
						{{ else }}
						<h4><a style="text-decoration: none;" href="{{ url }}">{{ title }}</a></h4>
						{{ endif }}
						
					    {{ if tags_list }}
					      <span style="font-size: 0.8em;">DISEASES:</span> <span class="article__tax-light" style="font-size:0.9em;">{{ tags_url_list }}</span>&nbsp;&nbsp;
					    {{ endif }}
					    {{ if categories_list }}
					      <span style="font-size: 0.8em;">THEMES:</span> <span class="article__tax-light" style="font-size:0.9em;">{{ categories_url_list }}</span>
					    {{ endif }}
					    <br/><br/>
					      
						{{ if template }}
							{{ content }}
						{{ else }}
							<p>{{ excerpt }}</p>
							<a href="{{ url }}">Read more</a> &raquo;
						{{ endif }}
					</div>				
			
			</section>
				
			{{ /entries:listing }}			
		
			<div style="clear: left; margin-bottom: 20px;"></div>
	
	  <footer class="article__footer">
	    <a href="/" style="text-decoration: none;">&laquo; BACK</a>
	  </footer>
	 
	</article>

</div>
